.orderDetails{
    width: 100%;
    .orderDetail_container{
        margin:0 auto;
        padding: 1rem;
        max-width: 50rem;
        margin-top: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        ul{
            li{
                font-size: 1.2rem;
                list-style: none;
            }
        }
        .activityBTN{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            button{
                padding: 6px 1rem;
                background: rgb(99, 99, 235);
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
}